--extra-index-url https://download.pytorch.org/whl/cu128
aiohappyeyeballs
aiohttp
aiosignal
asttokens
attrs
certifi
charset-normalizer
comm
datasets
debugpy
decorator
dill
executing
filelock
frozenlist
fsspec
huggingface-hub
hf_transfer
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab_widgets
MarkupSafe
matplotlib-inline
maturin
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy<2.0.0
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
Pygments
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
six
stack-data
sympy
tiktoken
tokenizers
torch==2.10.0+cu128
tornado
tqdm
traitlets
transformers
triton
typing_extensions
tzdata
urllib3
wcwidth
widgetsnbextension
xxhash
yarl